    <div class='navbar fixed'>
      <div class='container'>
        <h4 class='pull-left'><%= link_to "BeachColi", root_path %></h4>
        <ul class='pull-right'>
          <li><%= link_to 'About', about_path %></li>
        </ul>
      </div>
    </div>
    <div class='container'>

      <div class='banner row'>
        <div class='span ten'>
          <h4> </h4>
          <br>
        </div>
      </div>


      <h4 class='explainer'>About</h4>

        <div class='font-s'><p>BeachColi scrapes the live data provided by the City of Toronto chronicling e-coli levels in the water at each of the 11 beaches in town, along with historical data for the last few summers. BeachColi uses this historical data to show averages for each beach over the last 28 days, the current summer season, and summer before to give users an idea of trends that occur at each beach and if they are safe to swim at. <a href="https://github.com/svolard/Beachr" style="color: red">Check out BeachColi on GitHub!</a></p>

        <div class='font-s'><p></p></div>
      </div>
    </div>