    <div class='navbar fixed'>
      <div class='container'>
        <h4 class='pull-left'><%= link_to "BeachColi", "/" %></h4>
        <ul class='pull-right'>
          <li><a href='www.google.com'>About</a></li>
        </ul>
      </div>
    </div>
    <div class='container'>

      <div class='banner row'>
        <div class='span ten'>
          <h4> </h4>
          <br>
        </div>
      </div>

      <h4 class='explainer'>Life's a beach.</h4>
      <div class='grid'>
        <div class='row'>
          <div class='span ten'><br><br><div id="map_canvas"></div></div>
        </div>

        <div><p>Take a dip at one of Toronto's eleven beautiful beaches—without risking life and limb!</p>
      </div>
          <footer>
      <p>Copyright Beachr 2014. This site was crafted by Alessia Bellisario, Brandon Craft, Hassan Jalil and Vladimir Dralo, students at Bitmaker Labs.</p>
    </footer>
    </div>

    <%= content_tag "div", id: "beaches_data", data: {beaches: avg_3_or.to_json}, style: "display: none;" do %>
      Loading beaches data for javascript...
    <% end %>
