
    <div class='navbar fixed'>
      <div class='container'>
        <h4 class='pull-left'>Beachr</h4>
        <ul class='pull-right'>
          <li><a href='https://github.com/andhart/bijou'>Github</a></li>
          <li><a href='https://github.com/andhart/bijou/archive/master.zip'>Download</a></li>
        </ul>
      </div>
    </div>
    <div class='container'>




      <div class='banner row'>
        <div class='span ten'>
          <h4>A small (less than 2 kb) CSS framework</h4>
          <a href='https://github.com/andhart/bijou'><button class='button primary small'>Get it on Github</button></a>
        </div>
      </div>

      <h4 class='explainer'>Life's a beach.</h4>
      <div class='grid'>
        <div class='row'>
          <div class='span ten '><br><br><div id="map_canvas"></div></div>
        </div>
        <div class='row'>
          <div class='span one dark'>ONE</div><div class='span nine light'>NINE</div>
        </div>
        <div class='row'>
          <div class='span two dark'>TWO</div><div class='span eight light'>EIGHT</div>
        </div>
        <div class='row'>
          <div class='span three dark'>THREE</div><div class='span seven light'>SEVEN</div>
        </div>
        <div class='row'>
          <div class='span four dark'>FOUR</div><div class='span six light'>SIX</div>
        </div>
        <div class='row'>
          <div class='span five dark'>FIVE</div><div class='span five light'>FIVE</div>
        </div>
        <div class='row'>
          <div class='span six dark'>SIX</div><div class='span four light'>FOUR</div>
        </div>
        <div class='row'>
          <div class='span seven dark'>SEVEN</div><div class='span three light'>THREE</div>
        </div>
        <div class='row'>
          <div class='span eight dark'>EIGHT</div><div class='span two light'>TWO</div>
        </div>
        <div class='row'>
          <div class='span nine dark'>NINE</div><div class='span one light'>ONE</div>
        </div>
        <div><p>Bacon ipsum dolor sit amet short ribs prosciutto andouille, bacon porchetta drumstick landjaeger tail chicken flank ribeye salami. Filet mignon turducken shank flank, leberkas shankle ham cow ham hock rump jowl. Rump meatball cow, pancetta ground round ribeye chuck fatback. Pork biltong landjaeger drumstick shank.

Meatball tail leberkas ham hock fatback porchetta pig. Spare ribs beef ball tip, short ribs kielbasa sirloin shoulder pork tongue capicola chicken ribeye meatball tenderloin doner. Short loin meatball swine strip steak brisket doner pork, jerky beef kielbasa porchetta fatback. Pancetta frankfurter spare ribs flank tail. Porchetta leberkas hamburger pork belly strip steak pig ribeye kevin pork prosciutto pork chop bresaola. Ribeye ham ball tip, jerky chuck sausage venison.

Sirloin andouille ham hock, kevin flank spare ribs bacon turkey pork belly. Meatloaf sirloin shank, chuck fatback ribeye corned beef porchetta. Swine rump ham flank capicola ground round landjaeger. Sausage pastrami ball tip meatloaf, hamburger beef shankle chicken tenderloin leberkas fatback shank pancetta. Short loin pig meatloaf andouille chicken pastrami drumstick ribeye turkey tail beef shankle pancetta pork boudin. Tenderloin capicola frankfurter turkey shankle, cow ball tip pork sausage boudin kevin jerky pork belly.

Tail leberkas tongue, bresaola short ribs frankfurter jowl. Boudin andouille salami, meatball brisket sausage shank leberkas jowl meatloaf short loin tail ribeye chicken. Doner brisket strip steak, hamburger andouille chicken capicola boudin flank drumstick. Corned beef rump t-bone salami beef ribs capicola bresaola. Venison chicken turkey bresaola spare ribs fatback pork chop chuck filet mignon meatball shankle, landjaeger tail boudin. Ham hock meatloaf bacon, andouille landjaeger flank ball tip. Brisket turkey chicken, kevin drumstick hamburger landjaeger strip steak.

Beef ribs andouille biltong filet mignon. Biltong boudin shankle turducken chicken prosciutto drumstick. Brisket frankfurter doner fatback hamburger bresaola shoulder capicola beef ribs meatloaf sirloin turkey. Brisket doner beef short ribs bacon.

Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
      </div>
          <footer>
      <p>Copyright Beachr 2014. This site was crafted by Alessia Bellisario, Brandon Craft, Hassan Jalil and Vladimir Dralo, students at Bitmaker Labs.</p>
    </footer>
    </div>

    <%= content_tag "div", id: "beaches_data", data: {beaches: avg_3_or.to_json}, style: "display: none;" do %>
      Loading beaches data for javascript...
    <% end %>
